[core]
    editor = nvim
[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true
[user]
    email = ratan.r.sur@gmail.com
    name = Ratan Rai Sur
[push]
    default = simple
[alias]
    c = commit
    co = checkout
    fixup = commit --amend --no-edit
[pager]
    diff = diff-so-fancy | less --tabs=4 -R
    show = diff-so-fancy | less --tabs=4 -R
[core]
	excludesfile = ~/.global_ignore
[merge]
	conflictstyle = diff3
[rerere]
	enabled = true
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 237
	newNormal = green bold
	newHighlight = green bold 237
[color "diff"]
	meta = yellow
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
