/.CFUserTextEncoding
/.Trash/
/.Xauthority
/.android/
/.aws/
/.babel.json
/.base16_theme
/.bash_history
/.cabal/
/.cache/
/.calibre_calibre_GUI.lock
/.cargo/
/.cmake/
/.conda/
/.config/**/*
!/.config/nvim/
!/.config/*/init.vim
!/.config/base16-shell
!/.config/git/ignore
!/.config/htop/htoprc
/.coursier/
/.cups/
/.emacs.d/
/.fzf.bash
/.fzf.zsh
/.fzf/
/.gem/
/.ghc/
/.gitkraken/
/.global_ignore
/.gnupg/
/.gradle/
/.histfile
/.hivehistory
/.idea-build/
/.ipython/
/.ivy2/
/.julia/
/.julia_history
/.jupyter/
/.lesshst
/.lldb/
/.local/
/.m2/
/.matplotlib/
/.mono/
/.nix-defexpr/
/.nix-profile
/.node-gyp/
/.npm/
/.vim
/.nviminfo
/.nvimlog
/.octave_hist
/.oh-my-zsh/
/.openvr/
/.oracle_jre_usage/
/.pylint.d/
/.python_history
/.pyxbld/
/.rnd
/.sbt/
/.scala_history
/.scalac/
/.shared-ringdb/
/.spumux
/.ssh/
/.stack/
/.subversion/
/.terminfo/
/.tldrc/
/.vimgolf/
/.viminfo
/.vimrc_background
/.webex/
/.weechat/
/.wget-hsts
/AT.postflight.13816
/Adlm/
/AndroidStudioProjects/
/Applications/
/Calibre Library/
/Documents/
/Downloads/
/Google Drive/
/Library/
/Monero/
/Movies/
/Music/
/Pictures/
/Public/
/VirtualBox VMs/
/archive/
/derby.log
/floobits/
/macports/
/metastore_db/
/tmp/
/wrk/
/stf/
/.irssi
/.zcompdump*
/.zinc
/.tmux
/.zsh-update
/.zsh_history
/.zshrc.zni
