[core]
  editor = nvim
[filter "lfs"]
  clean = git lfs clean -- %f
  smudge = git lfs smudge %f
  required = true
[user]
	name = Rai
	email = ratan.r.sur@gmail.com
[alias]
  c = commit
  pull = pull
  rebase = rebase
  co = checkout
  fixup = commit --amend --no-edit
  unstage = restore --staged
[core]
  excludesfile = ~/.global_ignore
  pager = diff-so-fancy | less -R
[merge]
  conflictstyle = diff3
[status]
  showUntrackedFiles = all
[rerere]
  enabled = true
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 237
  newNormal = green bold
  newHighlight = green bold 237
[color "diff"]
  meta = yellow
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[pull]
  rebase = false
[diff]
  renameLimit = 996
[init]
	defaultBranch = master
